body {
    font-family: "Microsoft YaHei", Sans-Serif;
    /*font-weight: bold;*/
    padding-left: 10px;
    margin-left: 20px;
    color: #5f5f5f;
}

ul {
    padding:0;
    margin:0;
}
ul li {
    display: inline;

}
ul li:nth-of-type(odd) {
    font-weight:bold;
    margin-right: 8px;
}
ul li:nth-of-type(even) {
    margin-right: 30px;
}
.sidebar img {

    margin-right:150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #eaeaea;
    align-self: center;
    float: right;
    display: none;

}